In [1]:
import pandas as pd

In [2]:
sal = pd.read_csv('Salaries.csv')

In [3]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [5]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148045 non-null float64
OvertimePay         148650 non-null float64
OtherPay            148650 non-null float64
Benefits            112491 non-null float64
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               0 non-null float64
Agency              148654 non-null object
Status              0 non-null float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

Knowing the average BasePay for the employers.

In [8]:
sal['BasePay'].mean()

66325.44884050643

Finding the highest amount of overpay within the dataset.

In [11]:
sal['OvertimePay'].max()

245131.88

What is the job title of JOSEPH DRISCOLL?

In [13]:
sal['JobTitle']

0           GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1                          CAPTAIN III (POLICE DEPARTMENT)
2                          CAPTAIN III (POLICE DEPARTMENT)
3                     WIRE ROPE CABLE MAINTENANCE MECHANIC
4             DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)
5                                ASSISTANT DEPUTY CHIEF II
6                       BATTALION CHIEF, (FIRE DEPARTMENT)
7                           DEPUTY DIRECTOR OF INVESTMENTS
8                       BATTALION CHIEF, (FIRE DEPARTMENT)
9                   CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)
10        ASSISTANT CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)
11                         CAPTAIN III (POLICE DEPARTMENT)
12                             EXECUTIVE CONTRACT EMPLOYEE
13                                       DEPARTMENT HEAD V
14                      BATTALION CHIEF, (FIRE DEPARTMENT)
15                      COMMANDER III, (POLICE DEPARTMENT)
16                                       DEPARTMENT HEAD V
17                   CAPTAIN, EMERGENCYCY MEDICAL SERVICES
18                      BATTALION CHIEF, (FIRE DEPARTMENT)
19                              ASSISTANT MEDICAL EXAMINER
20                              ASSISTANT MEDICAL EXAMINER
21                              ASSISTANT MEDICAL EXAMINER
22                               CAPTAIN, FIRE SUPPRESSION
23                      BATTALION CHIEF, (FIRE DEPARTMENT)
24                               CAPTAIN, FIRE SUPPRESSION
25                                         CHIEF OF POLICE
26                               CAPTAIN, FIRE SUPPRESSION
27                      BATTALION CHIEF, (FIRE DEPARTMENT)
28                    DEPUTY CHIEF III (POLICE DEPARTMENT)
29            DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)
                                ...
148624                                        Senior Clerk
148625                                    Registered Nurse
148626                                       Account Clerk
148627                                     General Laborer
148628                                     General Laborer
148629                                  Transcriber Typist
148630                                           Carpenter
148631                         Communications Dispatcher 1
148632                          Protective Services Worker
148633                                     General Laborer
148634                                 Transit Car Cleaner
148635                                     General Laborer
148636                                 Arborist Technician
148637                              Transit Fare Inspector
148638                                         Electrician
148639                                           Custodian
148640                             Parking Control Officer
148641                                        Museum Guard
148642                                         Sign Worker
148643                             Parking Control Officer
148644                        Stationary Eng, Sewage Plant
148645                           Human Services Technician
148646                                        Not provided
148647                         Communications Dispatcher 2
148648                                           Custodian
148649                                           Custodian
148650                                        Not provided
148651                                        Not provided
148652                                        Not provided
148653                          Counselor, Log Cabin Ranch
Name: JobTitle, Length: 148654, dtype: object

In [14]:
sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
24,25,JOSEPH DRISCOLL,"CAPTAIN, FIRE SUPPRESSION",140546.86,97868.77,31909.28,NaN,270324.91,270324.91,2011,NaN,San Francisco,NaN

In [16]:
sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

How much does JOSEPH DRISCOLL make (including benefits)

In [18]:
sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

What is the highest paid person (including benefits)?

In [21]:
sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].max()]['EmployeeName']

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

In [23]:
sal.loc[sal['TotalPayBenefits'].idxmax()]

Id                                                               1
EmployeeName                                        NATHANIEL FORD
JobTitle            GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
BasePay                                                     167411
OvertimePay                                                      0
OtherPay                                                    400184
Benefits                                                       NaN
TotalPay                                                    567595
TotalPayBenefits                                            567595
Year                                                          2011
Notes                                                          NaN
Agency                                               San Francisco
Status                                                         NaN
Name: 0, dtype: object

What is the name of the lowest paid person (including benefits)?. Do you notice how something strange about how much she is paid?

In [25]:
sal.iloc[sal['TotalPayBenefits'].argmin()]

C:\Users\acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
The current behaviour of 'Series.argmin' is deprecated, use 'idxmin'
instead.
The behavior of 'argmin' will be corrected to return the positional
minimum in the future. For now, use 'series.values.argmin' or
'np.argmin(np.array(values))' to get the position of the minimum
row.
  """Entry point for launching an IPython kernel.

Id                                      148654
EmployeeName                         Joe Lopez
JobTitle            Counselor, Log Cabin Ranch
BasePay                                      0
OvertimePay                                  0
OtherPay                               -618.13
Benefits                                     0
TotalPay                               -618.13
TotalPayBenefits                       -618.13
Year                                      2014
Notes                                      NaN
Agency                           San Francisco
Status                                     NaN
Name: 148653, dtype: object

What was the average (mean) BasePay of all employees per Year? (2011-2014)

In [26]:
sal.groupby('Year').mean()['BasePay']

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

How many unique jobs titles are there?

In [28]:
sal['JobTitle'].nunique()

2159

In [29]:
sal['JobTitle'].unique()

array(['GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY',
       'CAPTAIN III (POLICE DEPARTMENT)',
       'WIRE ROPE CABLE MAINTENANCE MECHANIC', ..., 'Conversion',
       'Cashier 3', 'Not provided'], dtype=object)

What are the top 5 most common jobs?

In [31]:
sal['JobTitle'].value_counts().head(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

How many JobTitles were represented by only 1 person in 2013?(e.g. Job Titles with only one occurence in 2013?)

In [34]:
sum(sal[sal['Year']==2013]['JobTitle'].value_counts() == 1)

202

How many people have the word "Chief" in their job title?

In [41]:
def chief_string(title):
    if 'chief'in title.lower().split():
        return True
    else:
        return False

In [43]:
chief_string('CHIEF MANAGER-METROPOLITAN TRANSIT AUTHORITY')

True

In [45]:
sum(sal['JobTitle'].apply(lambda x:chief_string(x)))

477

Is there a correlation between length of the Job Title string and Salary?

In [46]:
sal['title_len'] = sal['JobTitle'].apply(len)

In [50]:
sal[['TotalPayBenefits','title_len']].corr()

                  TotalPayBenefits  title_len
TotalPayBenefits          1.000000  -0.036878
title_len                -0.036878   1.000000